<div class="authenticate">
  <form name="loginForm" ng-submit="login()">
    <input name="username" type='text' ng-model='user.username' placeholder="enter username" ng-minLength=8 ng-maxLength=15 required>
    <ng-show="loginForm.username.$error.required">Username Required</ng-show>
    <ng-show="loginForm.username.$error.minLength">Must be at least 8 char long</ng-show>
    <ng-show="loginForm.username.$error.maxLength">Must be at east 15 char long</ng-show>

    <input name="password" type="text" ng-model="user.password" placeholder="enter password" ng-minLength=8 ng-maxLength=15>
    <ng-show="loginForm.password.$error.required">Username Required</ng-show>
    <ng-show="loginForm.password.$error.minLength">Must be at least 8 char long</ng-show>
    <ng-show="loginForm.password.$error.maxLength">Must be at east 15 char long</ng-show>

    <input type="button" ng-click="reset()" value="Reset"/>
    <button>login</button>
  </form>
  <a href="#/signup">Not a member? Sign Up</a>
</div>
