<div class="authenticate">
  <form name="sigupForm" ng-submit="signup()">
    <input name="username" type='text' ng-model='user.username' placeholder="enter username" ng-minLength=8 ng-maxLength=15 required>
    <ng-show="signupForm.username.$error.required">Username Required</ng-show>
    <ng-show="signupForm.username.$error.minLength">Must be at least 8 char long</ng-show>
    <ng-show="signupForm.username.$error.maxLength">Must be at east 15 char long</ng-show>

    <input name="password" type="text" ng-model="user.password" placeholder="enter password" ng-minLength=8 ng-maxLength=15>
    <ng-show="signupForm.password.$error.required">Username Required</ng-show>
    <ng-show="signupForm.password.$error.minLength">Must be at least 8 char long</ng-show>
    <ng-show="signupForm.password.$error.maxLength">Must be at east 15 char long</ng-show>

    <input type="button" ng-click="reset()" value="Reset"/>
    <button>Signup</button>
  </form>
  <a href="#/login">Already a member? Login Here</a>
</div>
