<div class="authenticate">

  <div class="nav">
    <ul>
      <li><a href='#/inventory'>Inventory</a></li>
      <li><a href='#/login'>Login</a></li>
    </ul>
  </div>

  <h1> Login </h1>
  <form name="loginForm" ng-submit="login()">
    <label>Username</label>
    <input name="username" type='text' ng-model='user.username' placeholder="enter username" ng-minlength="8" ng-maxlength="15" required>
    <p class='error' ng-show="loginForm.username.$error.required">Username Required</p>
    <p class='error' ng-show="loginForm.username.$error.minlength">Must be at least 8 char long</p>
    <p class='error' ng-show="loginForm.username.$error.maxlength">Must be at east 15 char long</p>

    <label>Password</label>
    <input type="password" name="password" ng-model="user.password" placeholder="enter password" ng-minlength="8" ng-maxlength="15">
    <p class='error' ng-show="loginForm.password.$error.minlength">Must be at least 8 char long</p>
    <p class='error' ng-show="loginForm.password.$error.maxlength">Must be at east 15 char long</p>

    <!-- <input type="button" ng-click="reset()" value="Reset"/> -->
    <button>login</button>
    <p class="message">{{message}}</p>
  </form>
  <a href="/signup">Not a member? Sign Up</a>
</div>
